<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>


   <extension
         point="com.liferay.ide.project.core.sdkTemplates">
      <sdkTemplate
            class="com.liferay.ide.theme.core.ThemeSDKTemplate"
            displayName="Liferay Theme"
            facetId="liferay.theme"
            facetedProjectTemplateId="liferay.theme.template"
            menuIndex="50"
            shortName="theme">
      </sdkTemplate>
   </extension>
   <extension
         id="com.liferay.ide.eclipse.theme.core.cssBuilder"
         name="%theme.css.builder.name"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="false"
            hasNature="false">
         <run
               class="com.liferay.ide.theme.core.ThemeCSSBuilder">
         </run>
      </builder>
   </extension>

   <extension
         point="com.liferay.ide.server.core.pluginPublishers">
      <liferayPluginPublisher
            class="com.liferay.ide.theme.core.ThemePluginPublisher"
            runtimeTypeId="com.liferay.ide.eclipse.server.tomcat.runtime.60"
            facetId="liferay.theme">
      </liferayPluginPublisher>
   </extension>

</plugin>
