<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
		point="org.eclipse.ui.editors">
		<editor
			id="com.liferay.ide.upgrade.ui.CodeUpgradeTool"
			name="CodeUpgradeTool"
			filenames="liferay-code-upgrade.xml"
			default="true">
			<class
				class="org.eclipse.sapphire.ui.swt.xml.editor.SapphireEditorForXml">
				<parameter name="sdef" value="com.liferay.ide.upgrade.ui.CodeUpgradeTool"/>
				<parameter name="pageName" value="Overview"/>
			</class>
		</editor>
	</extension>
</plugin>
