<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.wst.server.ui.serverImages">
      <image
            icon="icons/e16/server.png"
            id="com.liferay.ide.eclipse.server.ee.websphere.runtime.ui.image"
            typeIds="com.liferay.ide.eclipse.server.ee.websphere.runtime.v7">
      </image>
      <image
            icon="icons/e16/server.png"
            id="com.liferay.ide.eclipse.server.ee.websphere.ui.image"
            typeIds="com.liferay.ide.eclipse.server.ee.websphere.v7">
      </image>
   </extension>
   <extension
         point="org.eclipse.wst.server.ui.wizardFragments">
      <fragment
            class="com.liferay.ide.server.websphere.ui.wizard.WebsphereRuntimeWizardFragment"
            id="com.liferay.ide.eclipse.server.ee.websphere.runtime.v7"
            typeIds="com.liferay.ide.eclipse.server.ee.websphere.runtime.v7">
      </fragment>
      <fragment
            class="com.liferay.ide.server.websphere.ui.wizard.WebsphereServerWizardFragment"
            id="com.liferay.ide.eclipse.server.ee.websphere.ui.fragment"
            typeIds="com.liferay.ide.eclipse.server.ee.websphere.v7">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.wst.common.project.facet.core.runtimes">
      <adapter>
         <runtime-component
               id="com.liferay.ide.server.websphere.runtime.component">
         </runtime-component>
         <factory
               class="com.liferay.ide.server.websphere.ui.WebsphereFacetRuntimeComponentLabelProvider">
         </factory>
         <type
               class="org.eclipse.wst.common.project.facet.ui.IRuntimeComponentLabelProvider">
         </type>
      </adapter>
      <adapter>
         <runtime-component
               id="com.liferay.ide.server.websphere.runtime.component">
         </runtime-component>
         <factory
               class="com.liferay.ide.server.websphere.ui.WebsphereRuntimeDecorationsProvider">
         </factory>
         <type
               class="org.eclipse.wst.common.project.facet.ui.IDecorationsProvider">
         </type>
      </adapter>
   </extension>
   <extension
         point="org.eclipse.wst.common.project.facet.ui.images">
      <image
            path="icons/e16/server.png"
            runtime-component-type="com.liferay.ide.server.websphere.runtime.component">
      </image>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="com.liferay.ide.eclipse.server.ee.websphere.v7.launchConfigurationType"
            icon="icons/e16/server.png"
            id="com.liferay.ide.eclipse.server.ee.websphere.v7.ui.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="com.liferay.ide.server.websphere.ui.WebsphereLaunchConfigTabGroup"
            id="com.liferay.ide.eclipse.server.ee.websphere.v7.ui.launchConfigurationTabGroup"
            type="com.liferay.ide.eclipse.server.ee.websphere.v7.launchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
      
   <extension
         point="org.eclipse.wst.sse.ui.breakpoint">
      <breakpointContribution
            id="com.liferay.ide.eclipse.server.ee.websphere.jsp.breakpoint">
            <!--<provider
				contentTypes="org.eclipse.jst.jsp.core.jspsource"
				id="org.eclipse.jst.jsp.ui.internal.breakpointproviders.JavaStratumBreakpointProvider">
				<class class="org.eclipse.jst.jsp.ui.internal.breakpointproviders.JavaStratumBreakpointProvider">
					<parameter name="org.eclipse.jst.jsp.core.jspsource" value="com.ibm._jsp*"/>
				</class>
			</provider>-->
			<provider
				contentTypes="org.eclipse.jst.jsp.core.jspsource"
				id="com.liferay.ide.eclipse.server.ee.websphere.jsp.breakpoint">
				<class class="com.liferay.ide.server.websphere.ui.debug.WebsphereJSPBreakpointProvider">
					<parameter name="org.eclipse.jst.jsp.core.jspsource" value="com.ibm._jsp*"/>
				</class>
			</provider>
      </breakpointContribution>
   </extension>
   <extension
         point="org.eclipse.wst.server.ui.editorPageSections">
      <section
            class="com.liferay.ide.server.websphere.ui.ConnectionSettingsEditorSection"
            id="com.liferay.ide.eclipse.server.ee.websphere.ui.connectionSettings"
            insertionId="org.eclipse.wst.server.editor.overview.left"
            order="0"
            typeIds="com.liferay.ide.eclipse.server.ee.websphere.*">
      </section>
      <!--
      <section
            class="com.liferay.ide.server.websphere.ui.DeploymentSettingsEditorSection"
            id="com.liferay.ide.eclipse.server.ee.websphere.ui.deploymentSettings"
            insertionId="org.eclipse.wst.server.editor.overview.right"
            order="1"
            typeIds="com.liferay.ide.eclipse.server.ee.websphere.*">
      </section>
      -->
   </extension>
   
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="com.liferay.ide.server.websphere.ui.popup.server"
            objectClass="org.eclipse.wst.server.core.IServer">
         <visibility>
         	<and>
	            <objectState
	                  name="serverType"
	                  value="com.liferay.ide.eclipse.server.ee.websphere.*">
	            </objectState>
            </and>
         </visibility>
         <action
               class="com.liferay.ide.server.websphere.ui.action.OpenConsoleAction"
               enablesFor="1"
               icon="icons/e16/server.png"
               id="com.liferay.ide.server.websphere.ui.action.openConsoleAction"
               label="Open WebSphere Console">
         </action>
         
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="com.liferay.ide.server.ui.popup.server"
            objectClass="org.eclipse.wst.server.core.IServer">
         <visibility>
           <and>
              <objectState
                    name="serverType"
                    value="com.liferay.ide.eclipse.server.ee.websphere.v7">
              </objectState> 
            </and>
         </visibility>
         <action
               class="com.liferay.ide.server.websphere.ui.OpenWebsphereLiferayHomeFolderServerAction"
               definitionId="com.liferay.ide.server.ui.handlers.openLiferayHomeFolder"
               enablesFor="1"
               icon="icons/liferay_logo_16.png"
               id="com.liferay.ide.server.websphere.ui.action.openLiferayHomeFolderServerAction"
               label="Open Liferay Home Folder">
         </action>
      </objectContribution>
   </extension>  

</plugin>
